:root {
    --primary-color: #1E4F6F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

header {
    height: 100vh;
    /*background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(homepage-hero-image.jpeg);*/
    /*background: linear-gradient(rgba(201, 123, 132, 0.6), rgba(201, 123, 132, 0.6)), url(homepage-hero-image.jpeg);*/
    background: radial-gradient(circle, rgba(31,82,111,0.6) 0%, rgba(31,82,111,0.4) 50%, rgba(31,82,111,0.2) 100%), url(homepage-hero-image.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    text-transform: uppercase;
    background-color: white;
    opacity: 0.9;
}

.site-logo {
    margin: 0 auto;
    font-size: 2.5em;
    text-decoration: none;
    text-align: center;
    color: var(--primary-color);
}

.main-menu .burger-icon {
    font-size: 2em;
    margin: auto 0;
    cursor: pointer;
}

.nav-menu {
    display: none;
    width: 100%;
}

.nav-menu.shown {
    display: flex;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    width: auto;
}

.nav-menu .site-menu {
    margin-right: auto;
}

.nav-menu-link:link,
.nav-menu-link:visited {
    display: inline-block;
    font-size: 0.8em;
    padding: 1.2em 0.5em;
    text-decoration: none;
    color: var(--primary-color);
}

.user-menu .join-link {
    color: #c97b84;
}

.hero-box {
    flex: 1 1 auto;
    color: white;
    position: relative;
    text-align: center;
}

.hero-box div {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    width: 100%;
    padding: 0 0.5em;
}

.hero-box h1 {
    font-size: 2em;
    /*font-weight: 300;*/
}

.hero-box p {
    /*font-size: 1.5em;*/
    margin-top: 0.5em;
}
